<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Daily Journal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <nav class='navbar navbar-default'>
        <div class="container">

           <div class="navbar-header">
            <p class="navbar-brand">Daily Journal</p>
           </div> 

            <ul class="nav navbar-nav navbar-right">
                <li id="home"><a href="/">Home</a></li>
                <li id="about"><a href="/about">Abou</a></li>
                <li id="contact"><a href="/contact">Contact</a></li>
            </ul>
            
        </div>  
       
    </nav>
</head>
<body>
    <div class="container">

